#sqs-standard-checkout {
  font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
  background: #f3f3f3;
  color: #333;
  font-size: 13px;
  margin: 0;
  padding-bottom: 50px;
  line-height: 1.3em;
}
#checkout-page {
  zoom: 1;
  position: relative;
  margin: 0 auto;
  width: 900px;
  padding: 45px 15px;
}
#checkout-page:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
#store-logo h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 35px;
}
#store-logo a, #store-logo a:visited, #store-logo a:hover {
  color: #333;
  opacity: 1;
}
#store-logo a, #store-logo a:visited, #store-logo a:hover {
  color: #333;
  opacity: 1;
}
#sqs-standard-checkout .right-column-wrapper {
  width: 420px;
  float: right;
  margin-right: 30px;
}
#sqs-standard-checkout div::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
#sqs-standard-checkout .summary {
  margin-bottom: 30px;
  background: #fff;
  padding: 30px;
}
#sqs-standard-checkout .summary.hidden {
  display: none;
}
.sqs-checkout-shopping-cart {
  background: #fff;
}
.sqs-checkout-shopping-cart-content {
  zoom: 1;
  color: #333;
  line-height: 16px;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
  position: relative;
}
.sqs-checkout-shopping-cart-content .loading-spinner {
  width: 100%;
  top: 50%;
  position: absolute;
  margin-top: -25px;
  display: none;
}
.sqs-checkout-shopping-cart-content .loading-spinne.sqs-spin {
  display: block;
  margin: 0 auto;
}
.yui3-widget-content-expanded {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
.sqs-checkout-shopping-cart-content .title {
  font-size: 16px;
  color: #333;
}
.sqs-checkout-shopping-cart-content table {
  border-bottom: 1px solid #ddd;
  padding-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}
.sqs-checkout-shopping-cart-content thead {
  padding-bottom: 5px;
  color: #666;
  border-collapse: separate;
}
.sqs-checkout-shopping-cart-content tr {
  line-height: 15px;
  max-width: 100%;
}
.sqs-checkout-shopping-cart-content td.item {
  zoom: 1;
  text-align: left;
}
.sqs-checkout-shopping-cart-content td.quantity {
  white-space: nowrap;
  text-align: right;
}
.sqs-checkout-shopping-cart-content td.quantity input {
  margin: 0;
  padding: 3px;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: right;
  float: right;
}
.sqs-checkout-shopping-cart-content td.price {
  text-align: right;
  width: 90px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sqs-checkout-shopping-cart-content td.remove {
  width: 30px;
}
.sqs-checkout-shopping-cart-content thead td {
  font-size: 10px;
}
.sqs-checkout-shopping-cart-content td {
  vertical-align: top;
}
.sqs-checkout-shopping-cart-content tr {
  line-height: 15px;
  max-width: 100%;
}  
#sqs-standard-checkout .summary {
  margin-bottom: 30px;
  background: #fff;
  padding: 30px;
}
.sqs-checkout-shopping-cart-content td.item .item-image {
  float: left;
  padding: 0 8px 10px 0;
}
.sqs-checkout-shopping-cart-content td.item .item-image img {
  width: 50px;
  border: 1px solid #ddd;
}
.sqs-checkout-shopping-cart-content td.item .item-desc {
  max-width: 100px;
  float: left;
  padding-bottom: 10px;
}
.sqs-checkout-shopping-cart-content td.item .item-desc .variant-info, .sqs-checkout-shopping-cart-content td.item .item-desc .additional-fields {
  font-size: 10px;
  color: #777;
}
.sqs-checkout-shopping-cart-content .total {
  padding-right: 36px;
  zoom: 1;
}
.sqs-checkout-shopping-cart-content .total:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.sqs-checkout-shopping-cart-content .total .price {
  float: right;
  min-width: 100px;
  text-align: right;
}
.sqs-checkout-shopping-cart-content .total .label {
  float: right;
  text-transform: uppercase;
  color: #777;
  font-size: 10px;
  word-wrap: normal;
}
.sqs-checkout-shopping-cart-content .total {
  padding-right: 36px;
  zoom: 1;
}
.sqs-checkout-shopping-cart-content .grand-total {
  line-height: 32px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.sqs-checkout-shopping-cart-content .grand-total .price {
  font-size: 16px;
  padding-left: 10px;
  color: #333;
  font-weight: bold;
  min-width: 90px;
}
.sqs-checkout-shopping-cart-content .grand-total .label {
  font-size: 16px;
  color: #666;
}
.sqs-checkout-shopping-cart-content .empty-message {
  display: none;
  color: #999;
  font-size: 11px;
  text-align: center;
  padding: 25px 0px;
}
.sqs-checkout-coupon-list {
  background: #fff;
}
.sqs-checkout-coupon-list-content {
  margin-bottom: 30px;
  position: relative;
}
.sqs-checkout-coupon-list-content .title {
  font-size: 16px;
  color: #333;
}
.sqs-checkout-coupon-list-content fieldset {
  margin: 0;
  padding: 30px 0 0 0;
  border: 0;
}
  .sqs-checkout-coupon-list-content fieldset .field {
  position: relative;
  margin-right: 2%;
  float: left;
  width: 98%;
}
  .sqs-checkout-coupon-list-content fieldset .field label:not(.shipping-option-label) {
  display: none;
  margin-top: 15px;
  font-size: 12px;
}
  .sqs-checkout-coupon-list-content fieldset .field .codeline {
  position: relative;
  width: 100%;
}
  #sqs-standard-checkout .right-column-wrapper {
  width: 420px;
  float: right;
  margin-right: 30px;
}
  #sqs-standard-checkout div::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.05);
  -moz-border-radius: 3px;
  border-radius: 3px;
}
  #sqs-standard-checkout div::-webkit-scrollbar-track-piece {
  background-color: #000;
}
  .sqs-checkout-form-content form {
  width: 100%;
}
  .sqs-checkout-form-section {
  background: #fff;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
}
  .sqs-checkout-form-section .title {
  font-size: 16px;
  color: #333;
}
  .sqs-checkout-form-section .title .edit-button {
  float: right;
  font-size: 11px;
  margin-top: 4px;
  cursor: pointer;
}
  .sqs-checkout-form-section fieldset {
  margin: 0;
  padding: 30px 0 0 0;
  border: 0;
  clear: both;
}
  .sqs-checkout-form-section fieldset .field.first-name, .sqs-checkout-form-section fieldset .field.city, .sqs-checkout-form-section fieldset .field.state {
  margin-right: 2%;
}
  .sqs-checkout-form-section fieldset .field.first-name, .sqs-checkout-form-section fieldset .field.last-name {
  width: 49%;
}
  .sqs-checkout-form-section fieldset .field {
  position: relative;
  float: left;
  width: 100%;
}
  .sqs-checkout-form-section fieldset .field label:not(.shipping-option-label) {
  display: none;
  margin-top: 15px;
  font-size: 12px;
}
  .sqs-checkout-form-section fieldset .field input.field-element, .sqs-checkout-form-section fieldset .field textarea.field-element {
  padding: 8px 10px;
  border: 1px solid #ddd;
  color: #333;
}
  .sqs-checkout-form-section fieldset .field input.field-element, .sqs-checkout-form-section fieldset .field select.field-element, .sqs-checkout-form-section fieldset .field textarea.field-element {
  box-shadow: 0 0 0 1px rgba(0,0,0,0);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
  .sqs-checkout-form-section fieldset .field .field-element {
  width: 100%;
  padding: 6px;
  margin: .6em 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-top-color: #bbb;
  box-shadow: 0 2px 2px rgba(0,0,0,.05) inset;
  font-size: 1em;
}
  .sqs-checkout-form-section fieldset .field select.field-element {
  height: 34px;
}
  .sqs-checkout-form-section fieldset .field.city {
  width: 42%;
}
  .sqs-checkout-form-section fieldset .field.state {
  width: 24%;
}
  .sqs-checkout-form-section fieldset .field.zip {
  width: 30%;
}
  .sqs-checkout-form-section fieldset .btn-container {
  padding-top: 30px;
  clear: both;
}
  .sqs-checkout-form-section fieldset .button {
  max-width: 150px;
  background: #222;
  font-size: 12px;
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 11px 0;
  margin: 0px auto 0px auto;
  box-shadow: none;
  float: none;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
}
.sqs-checkout-form-shipping #ship-to-billing {
  margin: 0;
}
.sqs-checkout-form-section fieldset .check-element {
  background-image: url(/images/checkbox-inactive-16-dark.png);
  padding-top: 5px;
  height: 20px;
  clear: both;
  margin-top: 10px;
  opacity: .6;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}
.sqs-checkout-form-section fieldset .check-element.active {
  opacity: 1;
  background-image: url(/images/checkbox-active-16-dark.png);
}
.sqs-checkout-form-section .check-element {
  padding-left: 32px;
  cursor: pointer;
  background-position: 3px 4px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(/images/checkbox-inactive-16-light.png);
}
.sqs-checkout-form-shipping #shipping-address-wrapper {
  overflow: hidden;
  height: 220px;
  zoom: 1;
  -webkit-transition: opacity 0.3s linear, height 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, height 0.3s ease-out;
  -o-transition: opacity 0.3s linear, height 0.3s ease-out;
  transition: opacity 0.3s linear, height 0.3s ease-out;
}
.sqs-checkout-form-section fieldset .subtitle {
  color: #333;
  font-weight: bold;
  clear: both;
  padding-top: 30px;
}
.sqs-checkout-form-shipping-options-content {
  zoom: 1;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
  position: relative;
}
.sqs-checkout-form-shipping-options-content.empty .empty-message {
  display: block;
}
.sqs-checkout-form-shipping-options-content .empty-message {
  margin-top: 5px;
  display: none;
}
.sqs-checkout-form-shipping-options-content .warning-message {
  color: #fff;
  background: #c1b12e;
  height: 0;
  font-size: 11px;
  opacity: 0;
  padding: 0 12px;
}
.sqs-checkout-form-shipping-options-content .loading-spinner {
  width: 100%;
  top: 50%;
  margin-top: -9px;
  display: none;
  position: absolute;
}
.sqs-checkout-form-section fieldset .btn-container {
  padding-top: 30px;
  clear: both;
}
.sqs-checkout-form-shipping-content.empty-shipping-options .continue-button {
  max-width: 250px;
}
.sqs-checkout-form-section fieldset .button {
  max-width: 150px;
  background: #222;
  font-size: 12px;
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 11px 0;
  margin: 0px auto 0px auto;
  box-shadow: none;
  float: none;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
}
.sqs-checkout-form-payment .title {
  zoom: 1;
}
  #sqs-standard-checkout a, #sqs-standard-checkout a:visited {
  color: #777;
  text-decoration: none;
}
.sqs-checkout-form-section .title .cards {
  display: inline-block;
  float: right;
  position: relative;
  top: -3px;
}
.sqs-checkout-form-payment #credit-card {
  zoom: 1;
  background: #f3f3f3;
  border: 1px solid #ddd;
  padding: 30px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sqs-checkout-form-payment #card-number {
  width: 100%;
}
  .sqs-checkout-form-section fieldset .field {
  position: relative;
  float: left;
  width: 100%;
}
  .sqs-checkout-form-payment #card-number input {
  margin-top: 0;
}
  .sqs-checkout-form-payment #card-expiry-month, .sqs-checkout-form-payment #card-expiry-year, .sqs-checkout-form-payment #cvc {
  width: auto;
}
  .sqs-checkout-form-payment #expiry-cvc select {
  width: 78px;
  float: left;
  margin-right: 5px;
}
  .sqs-checkout-form-payment #cvc {
  float: right;
}
  .sqs-checkout-form-payment #cvc input {
  width: 60px;
}
  .sqs-checkout-form-payment #comfort {
  font-size: 11px;
  margin-top: 30px;
  color: #666;
}
  .sqs-checkout-form-payment #comfort a {
  border-bottom: 1px dotted #ccc;
}
  .sqs-checkout-form-payment #place-order {
  zoom: 1;
  clear: both;
  padding-top: 30px;
}
  .sqs-checkout-form-payment #place-order .button {
  float: right;
  width: 180px;
}
  .sqs-checkout-form-payment #place-order .trust {
  float: left;
}
.sqs-checkout-form-payment #credit-card:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.sqs-checkout-form-section fieldset .error-summary {
  color: #fff;
  background: #a00 url(/images/tiny-alert.png) no-repeat 7px 7px;
  padding: 5px 8px 5px 28px;
  font-size: 11px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 19px;
  margin-bottom: 30px;
}
.sqs-checkout-form-section fieldset .field.error {
  color: #a00;
}
.sqs-checkout-shopping-cart-content td.remove .remove-item {
  margin: 0 auto;
  height: 11px;
  width: 11px;
  background: transparent url('/images/icon_close_7_dark.png') center center no-repeat;
  cursor: pointer;
  opacity: .5;
}
.sqs-checkout-form-section .saved-fieldset {
  padding-top: 30px;
}