.wrapper {
  padding: 10px;
  opacity: 1;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  -webkit-transition: opacity .15s ease-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: opacity .15s ease-out;
  /* Firefox 4-15 */
  -o-transition: opacity .15s ease-out;
  /* Opera 10.50–12.00 */
  transition: opacity .15s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.collection-type-products.view-item #flowContent {
  background: #fff;
}
#flowContent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
#flowItems {
  position: relative;
}
.flow-item {
  position: relative;
}
.flow-item img {
  width: 100%;
}
.flow-back {
  display: block;
  margin-bottom: 65px;
  color: rgba(17, 17, 17, .38200000000000006);
  vertical-align: middle;
}
.flow-back:hover {
  color: rgba(17, 17, 17, .75);
}
.flow-back:before {
  content: "\e000";
  margin-right: 4px;
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  font-size: 32px;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  vertical-align: middle;
}
.force-vertical-alignment-top.site-vertical-alignment-middle #flowContent {
  top: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.collection-type-products.view-item .product-title,
.collection-type-products.view-item .product-price-container,
.collection-type-products.view-item .product-excerpt,
.collection-type-products.view-item .product-variants,
.collection-type-products.view-item .product-quantity-input,
.collection-type-products.view-item .sqs-add-to-cart-button-wrapper {
  margin: 25px 0;
}
.collection-type-products.view-item .flow-item {
  margin: 16px 0;
}
.collection-type-products.view-item.product-item-single-image-fill .flow-item:only-of-type {
  margin: 0;
}
.sqs-pill-shopping-cart {
  font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.sqs-cart-dropzone {
  position: fixed;
  z-index: 100000002;
  top: 0;
  right: 50px;
  -webkit-transition: all .15s ease-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all .15s ease-out;
  /* Firefox 4-15 */
  -o-transition: all .15s ease-out;
  /* Opera 10.50–12.00 */
  transition: all .15s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.nav-opened .sqs-cart-dropzone {
  -webkit-transform: translate3d(-240px, 0, 0);
  -moz-transform: translate3d(-240px, 0, 0);
  -o-transform: translate3d(-240px, 0, 0);
  -ms-transform: translate3d(-240px, 0, 0);
  transform: translate3d(-240px, 0, 0);
}
.no-csstransforms3d .nav-opened .sqs-cart-dropzone {
  -webkit-transform: translate(-240px, 0);
  -moz-transform: translate(-240px, 0);
  -o-transform: translate(-240px, 0);
  -ms-transform: translate(-240px, 0);
  transform: translate(-240px, 0);
}
.sqs-pill-shopping-cart-content {
  min-width: 220px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 26px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 18px;
  font-size: 12px;
  padding: 10px 15px;
}
.sqs-pill-shopping-cart-content.dark {
  box-shadow: 0 0 0 1px rgba(0,0,0,.085), 0 1px 0 0 rgba(0,0,0,.15);
  border: 1px solid rgba(255,255,255,.05);
  color: #ddd;
  background-color: #111;
  background-image: -o-linear-gradient(#1e1e1e,#040404);
  background-image: -moz-linear-gradient(#1e1e1e,#040404)  ;
  background-image: -ms-linear-gradient(#1e1e1e,#040404);
  background-image: -webkit-linear-gradient(#1e1e1e,#040404);
  background-image: linear-gradient(#1e1e1e,#040404);
}
.sqs-cart-dropzone .sqs-pill-shopping-cart-content {
  height: 30px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  /* useful if you don't want a bg color from leaking outside the border: */
  background-clip: padding-box;
  border: 0;
}
.sqs-pill-shopping-cart-content.dark .icon {
  background: url(/images/icon-cart-18-light.png);
}
.sqs-pill-shopping-cart .icon {
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: 5px;
  margin-right: 10px;
  margin-left: 5px;
}
.sqs-pill-shopping-cart {
  font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.sqs-pill-shopping-cart .details {
  float: none;
  text-transform: none;
  display: inline-block;
  letter-spacing: 0;
  line-height: normal;
  font-style: normal;
}
.sqs-pill-shopping-cart .subtotal {
  border: none;
  padding: 0;
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 14px;
  max-width: 75px;
}
.sqs-pill-shopping-cart .subtotal .price {
  font-size: 15px;
  font-weight: bold;
  max-width: 70px;
  float: right;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 800px) {
  .sqs-cart-dropzone {
    top: 13px;
    right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .sqs-cart-dropzone {
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 800px) {
  .wrapper {
    padding: 25px;
  }
  .collection-type-gallery > .wrapper,
  .collection-type-products.view-item > .wrapper {
    padding-top: 80px !important;
  }
  #flowContent {
    position: absolute;
    right: 0;
    width: 50%;
    padding: 25px;
  }
  #flowItems {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  #flowContent {
    width: 38.2%;
  }
  #flowItems {
    width: 61.8%;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 65px;
    height: 100%;
  }
  .collection-type-gallery,
  .collection-type-products.view-item {
    margin-left: 0;
    padding-left: 240px;
  }
  .collection-type-gallery > .wrapper,
  .collection-type-products.view-item  > .wrapper {
    padding-top: 0 !important;
  }
  #flowItems {
    width: 600px;
    left: 5%;
  }
  .flow-item-info {
    padding: 65px;
  }
  #flowContent {
    width: auto;
    left: 700px;
    padding: 65px;
  }
  #flowBody {
    left: 240px;
    margin-top: 0;
  }
  #flowBody > .wrapper {
    padding: 65px;
  }
  #flowBodyClose {
    padding: 48px;
  }
  .site-vertical-alignment-middle #flowContent {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .site-vertical-alignment-middle #flowItems.middle {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .site-vertical-alignment-top #lowerHeader.bottom {
    position: absolute;
    bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  #flowItems {
    width: 800px;
  }
  #flowContent {
    left: 1040px;
    max-width: 800px;
  }
}
