<div id="sqs-standard-checkout">
  <div id="checkout-page" style="opacity: 1;" class="fadeable-plugged">
    <!-- LOGO -->
    <div id="store-logo">
      <h1>
        <a href=/#/{{appId}}>
          <span class="site-title">MerriWeather</span>
        </a>
      </h1>
    </div>

    <!-- CART/COUPON SUMMARIES -->
    <div id="summary-wrapper" class="right-column-wrapper">
      <div id="cart-summary" class="summary">
        <div class="yui3-widget sqs-widget yui3-tableshoppingcart sqs-checkout-shopping-cart">
          <div class="sqs-checkout-shopping-cart-content single-item">
            <!--div class="loading-spinner">
              <div class="yui3-widget sqs-spin dark" style="height: 50px; width: 50px;">
                <div id="yui_3_10_1_1_1396389545580_688" class="sqs-spin-content yui3-widget-content-expanded"></div>
              </div>
            </div-->

            <div class="title">Order Summary</div>

            <table>
              <thead>
                <tr>
                  <td class="item">Item</td>
                  <td class="quantity">Quantity</td>
                  <td class="price">Price</td>
                  <td class="remove"></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, item) in shoppingCart.items">
                  <td class="item">
                    <div class="item-image">
                      <img src="https://static.squarespace.com/static/5252fc28e4b0ec71254bc248/52658eb2e4b06478e0b62532/526ab732e4b09b70853c5c0c/1382725427702/1010025_2.jpg?format=100w">
                    </div>
                    <div class="item-desc">
                      <div>{{item.item.title}}</div>
                      <div class="variant-info"></div>
                    </div>
                  </td>

                  <td class="quantity">
                    <input editable-content ng-model="content" size="1" value={{item.quantity}}>
                  </td>

                  <td class="price">
                    <span class="sqs-money-native">{{item.price}}</span>
                  </td>

                  <td class="remove" ng-click="removeItem(item)">
                    <div class="remove-item"></div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="subtotal total">
              <div class="price"><span class="sqs-money-native">{{shoppingCart.totalPrice}}</span></div>
              <div class="label">Subtotal</div>
            </div>

            <div class="tax total">
              <div class="price"><span class="sqs-money-native">0.00</span></div>
              <div class="label">Tax</div>
            </div>

            <div class="shipping total">
              <div class="price"><span class="sqs-money-native">0.00</span></div>
              <div class="label">Shipping</div>
            </div>

            <div class="discounts total" style="display: none;">
              <div class="price">- <span class="sqs-money-native">0.00</span></div>
              <div class="label">Discounts</div>
            </div>

            <div class="grand-total total">
              <div class="price"><span class="sqs-money-native">{{shoppingCart.totalPrice}}</span></div>
              <div class="label">Grand Total</div>
            </div>

            <div class="empty-message">
              You have nothing in your shopping cart.&nbsp;
              <a href="http://supply-demo.squarespace.com">Continue shopping</a>
            </div>
          </div>
        </div>
      </div>
      <div id="coupon-summary" class="summary hidden">
        <div class="yui3-widget sqs-widget sqs-checkout-coupon-list">
          <div class="sqs-checkout-coupon-list-content">
            <div class="title">Coupons</div>
              <fieldset>
                <div class="field">

                <label>
                  Promo Code
                </label>

                <div class="codeline">
                  <div class="codeleft">
                    <input name="promoCode" class="field-element" type="text" placeholder="Promo Code" spellcheck="false">
                  </div>

                  <!-- Redeem Button -->
                  <div class="button redeem-coupon">Redeem</div>
                </div>

                <!-- List -->
                <div class="coupon-list">
                  <div class="yui3-widget sqs-widget sqs-data-widget sqs-dialog-field sqs-list data-state-loaded">
                    <div class="sqs-list-content">
                      <div class="controls">
                        <button class="add-item" type="button" style="display: none;">Add Item</button>
                      </div>
                      <div class="list-title">Set strings.title to something.</div>
                      <div class="list-items">
                        <div class="empty"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="invalid-coupon-title hidden">
                  The coupons below are no longer valid. This can occur if a coupon expires
                  or if you remove an item from your shopping cart.
                </div>

                <!-- No Longer Valid Coupons -->
                <div class="invalid-coupon-list hidden">
                  <div class="yui3-widget sqs-widget sqs-data-widget sqs-dialog-field sqs-list data-state-loaded">
                    <div class="sqs-list-content">
                      <div class="controls">
                        <button class="add-item" type="button" style="display: none;">Add Item</button>
                      </div>
                      <div class="list-title">Set strings.title to something.</div>
                      <div class="list-items">
                        <div class="empty"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <!-- CHECKOUT FORM -->
    <div id="form-wrapper" class="right-column-wrapper">
      <div class="yui3-widget sqs-widget sqs-checkout-form">
        <div class="sqs-checkout-form-content">
          <form action="/commerce/submit-order?crumb=e260f3754f" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded; charset=utf-8">
            <input type="hidden" name="forceTestMode">
            <div id="yui_3_10_1_1_1396389545580_167" class="yui3-widget sqs-widget sqs-checkout-form-section sqs-checkout-form-address sqs-checkout-form-billing editing">
              <div class="sqs-checkout-form-billing-content">
                <div class="title">Billing Info<a class="edit-button" ng-click='editBillingInfo()' ng-show='completedBillingInfo'>edit</a></div>
                <fieldset ng-hide='completedBillingInfo'>

                  <!-- First Name -->
                  <div id="billing-first-name" class="field first-name required">
                    <label>First Name</label>
                    <input name="billingFirstName" ng-model='billingFirstName' class="field-element" placeholder="First Name" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30">
                  </div>

                  <!-- Last Name -->
                  <div id="billing-last-name" class="field last-name required">
                    <label>Last Name</label>
                    <input name="billingLastName" ng-model='billingLastName' class="field-element" placeholder="Last Name" x-autocompletetype="surname" a="" type="text" spellcheck="false" maxlength="30">
                  </div>

                  <!-- Email Address -->
                  <div id="email" class="field email required">
                    <label>Email Address</label>
                    <input name="email" ng-model='billingEmail' class="field-element" placeholder="Email" x-autocompletetype="email" type="text" spellcheck="false" maxlength="50">
                  </div>

                  <!-- Billing Address 1 -->
                  <div id="billing-address-1" class="field required">
                    <label>Address Line 1</label>
                    <input name="billingAddress1" ng-model='billingAddress1' class="field-element" placeholder="Address Line 1" type="text" spellcheck="false" maxlength="50">
                  </div>

                  <!-- Billing Address 2 -->
                  <div id="billing-address-2" class="field">
                    <label>Address Line 2</label>
                    <input name="billingAddress2" ng-model='billingAddress2' class="field-element" placeholder="Address Line 2" type="text" spellcheck="false" maxlength="50">
                  </div>

                  <!-- Country -->
                  <div id="billing-country" data-label="Country" class="field country required">
                    <label>Country</label>
                    <select name="billingCountry" ng-model='billingCountry' class="field-element" x-autocompletetype="country-name">
                    <option value="United Kingdom">United Kingdom</option></select>
                  </div>

                  <!-- City -->
                  <div id="billing-city" data-label="City" class="field city required">
                    <label>City</label>
                    <input name="billingCity" ng-model='billingCity' class="field-element" placeholder="City" type="text" spellcheck="false" maxlength="30">
                  </div>

                  <!-- State/Province -->
                  <div id="billing-state" data-label="State/Province" class="field state required">
                    <label>State/Province</label>
                    <select name="billingState" class="field-element" x-autocompletetype="state">
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AZ">AZ</option>
                      <option value="AR">AR</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="IA">IA</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="ME">ME</option>
                      <option value="MD">MD</option>
                      <option value="MA">MA</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MS">MS</option>
                      <option value="MO">MO</option>
                      <option value="MT">MT</option>
                      <option value="NE">NE</option>
                      <option value="NV">NV</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NY">NY</option>
                      <option value="NC">NC</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="DC">DC</option>
                      <option value="WV">WV</option>
                      <option value="WI">WI</option>
                      <option value="WY">WY</option>
                    </select>
                  </div>

                  <!-- Zip Code -->
                  <div id="billing-zip" data-label="Zip Code" class="field zip required">
                    <label>Zip / Postal</label>
                    <input name="billingZip" ng-model='billingZip' class="field-element" placeholder="Zip / Postal" type="text" spellcheck="false" maxlength="10">
                  </div>

                  <div style="clear:both;"></div>
                  <div id="phone" data-label="Phone Number" class="field phone">
                    <label>Phone Number</label>
                    <input name="phone" ng-model='billingPhone' class="field-element" placeholder="Phone Number" x-autocompletetype="phone" type="text" spellcheck="false" maxlength="20">
                  </div>

                  <!-- Continue -->
                  <div class="btn-container">
                    <div class="error-summary" ng-show='requiredFieldEmptyErrorBillingInfo'>First Name, Last Name, Email Address, Address Line 1, City, Zip Code required. </div>
                    <div class="button continue-button" ng-click='billingInfoContinue()'>Continue</div>
                  </div>
                </fieldset>

                <div class="saved-fieldset" ng-show='completedBillingInfo'>
                  <div>{{billingFirstName}}&nbsp;{{billingLastName}}</div>
                  <div>{{billingEmail}}</div>
                  <div>{{billingAddress1}}</div>
                  <div>{{billingAddress2}}</div>
                  <div>{{billingCity}},&nbsp;TX&nbsp;&nbsp;{{billingZip}}</div>
                  <div>{{billingCountry}}</div>
                  <div>{{billingPhone}}</div>
                </div>
              </div>
            </div>
            <div class="yui3-widget sqs-widget sqs-checkout-form-section sqs-checkout-form-address sqs-checkout-form-shipping" ng-show='completedBillingInfo'>
              <div class="sqs-checkout-form-shipping-content empty-shipping-options">
                <div class="title">Shipping Options
                  <a class="edit-button" ng-click='editShippingInfo()' ng-show='!shippingSameAsBilling && completedShippingInfo'>edit</a>
                </div>
                <fieldset ng-hide='!shippingSameAsBilling && completedShippingInfo'>

                  <!-- Ship to Billing Address -->
                  <div id="ship-to-billing" class="check-element" ng-class="{active: shippingSameAsBilling}" ng-click='toggleShipToBilling()'>
                    Shipping Address same as Billing
                  </div>
                  <input name="shipToBilling" value="true" type="hidden">

                  <!-- Shipping Address -->
                  <div id="shipping-address-wrapper" ng-hide='shippingSameAsBilling'>

                    <!-- First Name -->
                    <div id="shipping-first-name" data-label="First Name" class="field first-name required">
                      <label>First Name</label>
                      <input name="shippingFirstName" ng-model='shippingFirstName' class="field-element" placeholder="First Name" x-autocompletetype="given-name" type="text" spellcheck="false" maxlength="30">
                    </div>

                    <!-- Last Name -->
                    <div id="shipping-last-name" data-label="Last Name" class="field last-name required">
                      <label>Last Name</label>
                      <input name="shippingLastName" ng-model='shippingLastName' class="field-element" placeholder="Last Name" x-autocompletetype="surname" type="text" spellcheck="false" maxlength="30">
                    </div>

                    <!-- Shipping Address 1 -->
                    <div id="shipping-address-1" data-label="Address Line 1" class="field address required">
                      <label>Address Line 1</label>
                      <input name="shippingAddress1" ng-model='shippingAddress1' class="field-element" type="text" x-autocompletetype="address-line1" placeholder="Street Address 1" spellcheck="false" maxlength="50">
                    </div>

                    <!-- Shipping Address 2 -->
                    <div id="shipping-address-2" data-label="Address Line 2" class="field address">
                      <label>Address Line 2</label>
                      <input name="shippingAddress2" ng-model='shippingAddress2' class="field-element" type="text" placeholder="Street Address 2" x-autocompletetype="address-line2" spellcheck="false" maxlength="50">
                    </div>

                    <!-- Country -->
                    <div id="shipping-country" data-label="Country" class="field country required">
                      <label>Country</label>
                      <select name="shippingCountry" ng-model='shippingCountry' class="field-element" x-autocompletetype="country-name">
                        <option value="United Kingdom">United Kingdom</option>
                      </select>
                    </div>

                    <!-- City -->
                    <div id="shipping-city" data-label="City" class="field city required">
                      <label>City</label>
                      <input name="shippingCity" ng-model='shippingCity' class="field-element" placeholder="City" x-autocompletetype="city" type="text" spellcheck="false" maxlength="30">
                    </div>

                    <!-- State/Province -->
                    <div id="shipping-state" data-label="State/Province" class="field state required">
                      <label>State/Province</label>
                      <select name="shippingState" ng-model='shippingState' class="field-element" x-autocompletetype="state">
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AZ">AZ</option>
                        <option value="AR">AR</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="IA">IA</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="ME">ME</option>
                        <option value="MD">MD</option>
                        <option value="MA">MA</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MS">MS</option>
                        <option value="MO">MO</option>
                        <option value="MT">MT</option>
                        <option value="NE">NE</option>
                        <option value="NV">NV</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NY">NY</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="DC">DC</option>
                        <option value="WV">WV</option>
                        <option value="WI">WI</option>
                        <option value="WY">WY</option>
                      </select>
                    </div>

                    <!-- Zip Code -->
                    <div id="shipping-zip" data-label="Zip Code" class="field zip required">
                      <label>Zip / Postal</label>
                      <input name="shippingZip" ng-model='shippingZip' class="field-element" x-autocompletetype="postal-code" placeholder="Zip / Postal" type="text" spellcheck="false" maxlength="10">
                    </div>
                  </div> <!-- end #shipping-address -->

                  <!--div class="subtitle">Select a Shipping Method</div-->

                  <!-- Shipping Options -->
                  <!--div id="shipping-options">
                    <div class="yui3-widget sqs-widget sqs-checkout-form-shipping-options">
                      <div class="sqs-checkout-form-shipping-options-content empty">
                        <div class="empty-message">
        You cannot continue checkout because this store has not configured any
      shipping options for your country.
                        </div>

                        <div class="warning-message zip-warning-message">
                          <img src="/images/tiny-alert.png">Shipping methods require your zip/postal code to estimate.
                        </div>

                        <div class="warning-message zip-invalid-warning-message">
                          <img src="/images/tiny-alert.png">The zip code you entered is not valid.
                        </div>

                        <div class="warning-message weight-missing-warning-message">
                          <img src="/images/tiny-alert.png">All products in this cart are missing weight information.
                        </div>

                        <div class="warning-message service-unavailable-warning-message">
                          <img src="/images/tiny-alert.png">A method is unavailable for some items due to size restrictions.
                        </div>

                        <div class="warning-message carrier-warning-message">
                          <img src="/images/tiny-alert.png">Something went wrong reaching the shipping carrier for estimates.
                        </div>

                        <div class="loading-spinner">
                          <div class="yui3-widget sqs-spin dark" style="height: 15px; width: 15px;">
                            <div class="sqs-spin-content yui3-widget-content-expanded"></div>
                          </div>
                        </div>
                        <div class="options-container"></div>
                      </div>
                    </div>
                  </div-->

                  <div class="btn-container" ng-hide='shippingSameAsBilling'>
                    <div class="error-summary" ng-show='requiredFieldEmptyErrorShippingInfo'>First Name, Last Name, Email Address, Address Line 1, City, Zip Code required. </div>
                    <div class="button continue-button" ng-click='shippingInfoContinue()'>Continue Shipping</div>
                  </div>
                </fieldset>

                <div class="saved-fieldset" ng-show='completedShippingInfo && !shippingSameAsBilling'>
                  <div>{{shippingFirstName}}&nbsp;{{shippingLastName}}</div>
                  <div>{{shippingEmail}}</div>
                  <div>{{shippingAddress1}}</div>
                  <div>{{shippingAddress2}}</div>
                  <div>{{shippingCity}},&nbsp;TX&nbsp;&nbsp;{{shippingZip}}</div>
                  <div>{{shippingCountry}}</div>
                  <div>{{shippingPhone}}</div>
                </div>
              </div>
            </div>
            <div class="yui3-widget sqs-widget sqs-checkout-form-section sqs-checkout-form-payment" ng-show='completedShippingInfo'>
              <div class="sqs-checkout-form-payment-content">
                <div class="title">
                  <!--a class="edit-button">edit</a-->
                  <div class="cards">
                    <img src="/images/checkout/discover.png">
                    <img src="/images/checkout/mastercard.png">
                    <img src="/images/checkout/visa.png">
                    <img src="/images/checkout/americanexpress.png">
                  </div>
                  Secure Payment
                </div>
                <fieldset>
                  <!-- Credit Card -->
                  <div id="credit-card">
                    <!-- Name -->
                    <input name="cardHolderName" type="hidden">
                    <!-- Card Number -->
                    <div id="card-number" data-label="Card Number" class="field required">
                      <label>Card Number</label>
                      <input class="field-element" ng-model='cardNumber' type="text" size="20" autocomplete="off" placeholder="Credit Card Number" value="">
                    </div>
                    <!-- Expiry/CVC -->
                    <div id="expiry-cvc">
                      <!-- Expiry Month -->
                      <div id="card-expiry-month" data-label="Exp. Mo." class="field required">
                        <label>Exp. Mo.</label>
                        <select class="field-element" value="04" ng-model='expMonth'>
                          <option value="1">01</option>
                          <option value="2">02</option>
                          <option value="3">03</option>
                          <option value="4">04</option>
                          <option value="5">05</option>
                          <option value="6">06</option>
                          <option value="7">07</option>
                          <option value="8">08</option>
                          <option value="9">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                      </div>
                      <!-- Expiry Year -->
                      <div id="card-expiry-year" data-label="Exp. Yr." class="field required">
                        <label>Exp. Yr.</label>
                        <select class="field-element" value="2015" ng-model='expYear'>
                          <option value="2014">2014</option>
                          <option value="2015">2015</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                        </select>
                      </div>
                      <!-- CVC -->
                      <div id="cvc" data-label="CVC" class="field required">
                        <label>CVC</label>
                        <input class="field-element" ng-model='cvc' type="text" size="4" autocomplete="off" placeholder="CVC" value="">
                      </div>
                    </div>
                  </div> <!-- end #credit-card -->

                  <!-- Secure payment conditions -->
                  <div id="comfort">
                    All transactions are secure and encrypted, and we never store your credit card information. Payments are
                    processed through Stripe. Payment information is also governed by
                    <a target="_blank" href="https://stripe.com/privacy">Stripe's privacy policy</a>.
                  </div>
                  <!-- Place Order -->
                  <div id="place-order">
                    <div class="error-summary" ng-show='requiredFieldEmptyErrorCreditCard'>Card Number, Exp. Yr., Exp. Mo., CVC required. </div>
                    <div id="place-order-button" class="button continue-button" ng-click='placeOrder()' value="Place Order">Place Order</div>
                    <div class="trust"><img src="/images/checkout/truste.png"></div>
                    <!-- hidden field to convey the Stripe Token so we may submit the charge -->
                    <input name="stripeToken" type="hidden">
                    <!-- optional hidden fields -->
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- POLICIES -->
    <div id="policies-wrapper" class="right-column-wrapper">
      <!-- Terms of Service -->
      <a href="javascript:void(0)" id="termsOfService" class="store-policy-link" title="Terms Of Service" data-property="termsOfService" style="display: none;">
          Terms of Service
      </a>
      <!-- Privacy Policy -->
      <a href="javascript:void(0)" id="privacyPolicy" class="store-policy-link" title="Privacy Policy" data-property="privacyPolicy" style="display: none;">
          Privacy Policy
      </a>
      <!-- Return Policy -->
      <a href="javascript:void(0)" id="returnPolicy" class="store-policy-link" title="Return Policy" data-property="returnPolicy" style="display: none;">
          Return Policy
      </a>
    </div>
  </div>
</div>
