<header id="header">
  <div class="title-nav-wrapper">
    <!--SITE TITLE OR LOGO-->
    <h1 data-content-field="site-title" class="site-title">
      <a href="/" id="top">
        {{site.name}}
      </a>
    </h1>
    <a class="icon-menu" id="mobileMenu"></a>
    <!--MAIN NAVIGATION-->
    <div id="desktopNav">
      <nav class="main-nav">
        <div class="nav-wrapper">
          <ul class="cf">
            <li class="index-collection active-link folder">
              <a href="/"><span>Welcome</span></a>
            </li>
            <!--li class="blog-collection">
              <a href="news.html"><span>News</span></a>
            </li>
            <li class="gallery-collection">
              <a href="photos.html"><span>photos</span></a>
            </li-->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

