<div class="yui3-widget yui3-gismo yui3-lightbox2">
  <div class="yui3-lightbox2-content" layout-fullscreen>
    <div class="yui3-widget yui3-gismo yui3-lightboxoverlay">
      <div class="yui3-lightboxoverlay-content">
        <div class="sqs-lightbox-overlay sqs-lightbox-overlay-default" style="z-index: 10000000; opacity: 0.95;">
        </div>
      </div>
    </div>
    <div class="sqs-lightbox-slideshow sqs-gallery-design-stacked" style="visibility: visible; opacity: 1;">
      <div class="sqs-lightbox-slide sqs-gallery-design-stacked-slide sqs-active-slide loaded" data-type="image" style="opacity: 1; z-index: 889;">
        <div class="sqs-lightbox-padder">
          <img layout-center class="loaded" src="{{photoViwerImageSrc}}">
        </div>
      </div>
    </div>
    <a class="sqs-lightbox-close" style="" ng-click="closePhotoViewerModal()"></a>
  </div>
</div>